.hero-block {
	align-items: center;
	background-color: var(--grey);
	display: flex;
	overflow: hidden;
	padding-bottom: 50px;
	padding-top: 50px;
	position: relative;
}

.hero-block > img {
	left: 50%;
	max-width: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.hero-box {
	position: relative;
	z-index: 2;
}

.hero-block h1 {
	margin-bottom: 35px;
	max-width: 768px;
}

@media (min-width: 768px) {
	.hero-block {
		min-height: 495px;
	padding-bottom: 100px;
	padding-top: 100px;
	}
}